.sidebar {
    display: flex;
    flex-direction: column;
    flex: 0.35;
    border-right: 1px solid rgb(154, 178, 192);
    background-color: rgba(157, 177, 208, 0.665);
    backdrop-filter: blur(3px);
}

.sidebar-header {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    backdrop-filter: blur(2px);
}

.sidebar>h2 {
    background-color: rgba(157, 177, 208, 0.665);
    margin-left: 25px;
    font-weight: 600;
}


.sidebar-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 10vw;
}

.sidebar-buttons>.MuiSvgIcon-root {
    margin-right: 2vw;
    font-size: 24px !important;
}

.search-container {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 35px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(198, 217, 240);
    backdrop-filter: blur(2px);
    border-radius: 7px;
}


.search-container>.MuiSvgIcon-root {
    color: rgb(131, 129, 129);
    padding-left: 10px;
}

.search-container>input {
    border: 1px solid rgb(253, 252, 252);
    border-radius: 7px;
    width: 75%;
    outline-width: 0;
    padding: 10px;
}